* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 376px;
    padding-right: 376px;
}

.header-slider {
    min-height: 1024px;
    background-image: url(../img/bg.jpg);
    background-color: rgba(17, 17, 17, 0.7);
    background-color: #f4f5f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 181px;
    height: 56px;
    background-image: url(../img/logo.svg);
}

a {
    text-decoration: none;
    outline: none;
}

.nav-a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    flex-wrap: wrap;
    outline: none;
}


.nav-a:hover,
.nav-a:active,
.nav-a:focus {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
}

.nav-a-cart {
    margin-left: 60px;
    width: 18px;
    height: 24px;
    background-image: url(/img/icon-cart.svg);
}




.slider-arrow-right:hover {
    background-image: url(../img/right-hover.png);
}

.slider-arrow-left:hover {
    background-image: url(../img/left-hover.png);
}

.slider-text-h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
}

.slider-text-h2 {
    color: #ffffff;
    font-size: 52px;
    font-weight: 400;
}

.slider-text-p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.button {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    box-shadow: 0 2px 5px 1px #736357;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
}

.slider-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 589px;
    min-height: 261px;
}

.slider-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.slider-arrow-right {
    width: 40px;
    height: 73px;
    background-image: url(/img/right.png);
}

.slider-arrow-left {
    width: 40px;
    height: 73px;
    background-image: url(/img/left.png);
}

.button:hover {
    background-color: #8c7a6b;
}

.button:active {
    box-shadow: 0px 0px -13px 1px #998675;
    position: relative;
    top: 2px;
}

.slider-text-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider-pagination-circle {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 100%;
    border: 2px solid transparent;
}

.slider-pagination {
    display: flex;
    width: 98px;
    height: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-bottom: 40px;
}

.slider-pagination-circle:hover {
    border: 2px solid #d3c1ad;
    background-color: black;
    opacity: 1;
}

.menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    height: 215px;
}

.menu {
    min-height: 375px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}

.menu-block-icon {
    fill: #555;
}

.menu-block-headline {
    display: block;
    color: #555555;
    font-size: 22px;
    font-weight: 400;
}


.menu-block-text {
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.menu-block-underline {
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}


.menu-block:hover .menu-block-underline {
    background-color: #c7b299;
}

.menu-block:hover .menu-block-icon {
    fill: #c7b299;
}

.menu-block:hover .menu-block-headline {
    color: #c7b299;
}

.opportunities {
    min-height: 700px;
    background-image: url(/img/waxom-opportunities-bg.jpg);
    background-position: center;
}

.wordpress-theme {
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wordpress-theme-headline {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    display: block
}

.waxom-word {
    color: #c7b299;
}

.wordpress-theme-text {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    display: block;
}

.wordpress-theme-textblock {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



.button-wordpress {
    margin-top: 50px;
}

.latest-projects {
    min-height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.latest-projects-headline {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin-top: 80px;
}

.latest-projects-text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 750px;
    text-align: center;
}

.latest-projects-menu-a {
    list-style: none;
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #8c8c8c;
}

.latest-projects-menu {
    display: flex;
    flex-wrap: wrap;
}

.latest-projects-menu-a:first-child {
    margin-left: 0px;
}

.latest-projects-menu-a:hover,
.latest-projects-menu-a:focus,
.latest-projects-menu-a:active {
    background-color: #998675;
    color: #ffffff;
}



.latest-projects-mainblock {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
}

.latest-projects-mainblock-block {
    width: 370px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.latest-projects-mainblock-block-headline {
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 28px;
    position: relative;
}

.latest-projects-mainblock-block-text {
    margin-bottom: 27px;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 28px;
}

.latest-projects-mainblock-block:nth-child(1) {
    margin-left: 0px;
    margin-bottom: 30px;
}

.latest-projects-mainblock-block:nth-child(4) {
    margin-left: 0px;
}

.latest-projects-mainblock-block:nth-child(2) {
    margin-bottom: 30px;
}

.latest-projects-mainblock-block:nth-child(3) {
    margin-bottom: 30px;
}

.latest-projects-button {
    margin-bottom: 80px;
}

.latest-projects-mainblock-block-headline:before {
    content: "";
    border: 13px solid transparent;
    border-bottom: 13px solid white;
    position: absolute;
    bottom: 53px;
    left: -10px;
}

.latest-projects-mainblock-block:hover,
.latest-projects-mainblock-block:active,
.latest-projects-mainblock-block:focus {
    background-color: #362f2d;
}

.latest-projects-mainblock-block:hover .latest-projects-mainblock-block-headline:before {
    border-bottom-color: #362f2d;
}

.latest-projects-mainblock-block:focus .latest-projects-mainblock-block-headline:before {
    border-bottom-color: #362f2d;
}

.latest-projects-mainblock-block:active .latest-projects-mainblock-block-headline:before {
    border-bottom-color: #362f2d;
}

.latest-projects-mainblock-block:hover .latest-project-mainblock-img {
    filter: brightness(30%);
}

.latest-projects-mainblock-block:active .latest-project-mainblock-img {
    filter: brightness(30%);
}

.latest-projects-mainblock-block:focus .latest-project-mainblock-img {
    filter: brightness(30%);
}

.nav-a-search {
    width: 24px;
    height: 24px;
    background-image: url(/img/icon-search.svg);
}

.menu-block-icon-dev {
    width: 44px;
    height: 40px;
}

.menu-block-icon-pencil {
    width: 49px;
    height 49px;
}

.menu-block-icon-customization {
    width: 44px;
    height: 44px;
}

.menu-block-icon-marketing {
    width: 52px;
    height: 36px;
}


.latest-project-mainblock-img {}



.video {
    background-image: url(/img/video.jpg);
    min-height: 705px;
    background-position: center;
}

.mobile-devices-img {
    background-image: url(/img/mobile-devices.jpg);
    height: 616px;
    width: 423px;
    margin-top: 80px;
}

.mobile-devices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mobile-devices-textblock-headline {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.mobile-devices-textblock-text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 657px;
    margin-bottom: 45px;
}

.mobile-devices-textblock {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.mobile-devices-textblock-benefits-li {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
    position: relative;
}

.mobile-devices-textblock-benefits {
    margin-left: 70px;
}

.mobile-devices-textblock-benefits-li:before {
    content: ">";
    font-size: 15px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c7b299;
    color: white;
    position: absolute;
    left: -29px;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-block-icon {
    fill: #c7b299;
}

.stats-block-icon-clients {
    width: 44px;
    height: 44px;
}

.stats-block-count {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
}

.stats {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    align-items: center;
    justify-content: center;
}

.stats-block {
    width: 132px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
}

.stats-block-text {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.stats-block-underline {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}

.stats-block:first-child {
    margin-left: 0px;
}
