.container {
    max-width: 1920px;
    margin: 0 auto;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
    font-family: montserrat-extralight;
    src: url(../fonts/montserrat/montserrat-extralight.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway/raleway-extrabold.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/roboto-regular.ttf);
}

.padding-site {
    padding-left: 376px;
    padding-right: 376px;
}

.header-slider {
    min-height: 1024px;
    background-image: url(../img/bg.jpg);
    background-color: rgba(17, 17, 17, 0.7);
    background-color: #f4f5f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 181px;
    height: 56px;
    background-image: url(../img/logo.png);
}

a {
    text-decoration: none;
    outline: none;
}

.header-nav-label, .header-nav-input {
    display: none;
}

button {
    outline: none;
}

.nav-a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    flex-wrap: wrap;
    outline: none;
}


.nav-a:hover {
    color: #c7b299;
}

.nav-a-cart {
    margin-left: 60px;
    width: 18px;
    height: 24px;
    background-image: url(../img/icon-cart.svg);
}




.slider-arrow-right:hover {
    background-image: url(../img/right-hover.png);
}

.slider-arrow-left:hover {
    background-image: url(../img/left-hover.png);
}

.slider-text-h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    font-family: 'raleway', 'Arial', sans-serif;
}

.slider-text-h2 {
    color: #ffffff;
    font-size: 52px;
    font-weight: 400;
    font-family: 'raleway-extrabold', 'Arial', sans-serif;
}

.slider-text-p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.button {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    box-shadow: 0 2px 5px 1px #736357;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    font-family: 'raleway-extrabold', 'Arial', sans-serif;
}

.slider-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 589px;
    min-height: 261px;
}

.slider-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.slider-arrow-right {
    width: 40px;
    height: 73px;
    background-image: url(../img/right.png);
}

.slider-arrow-left {
    width: 40px;
    height: 73px;
    background-image: url(../img/left.png);
}

.button:hover {
    background-color: #8c7a6b;
}

.button:active {
    box-shadow: 0px 0px -13px 1px #998675;
    position: relative;
    top: 2px;
}

.slider-text-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider-pagination-circle {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 100%;
    border: 2px solid transparent;
}

.slider-pagination {
    display: flex;
    width: 98px;
    height: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-bottom: 40px;
}

.slider-pagination-circle:hover {
    border: 2px solid #d3c1ad;
    background-color: black;
    opacity: 1;
}

.menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    height: 215px;
    margin-left: 35px;
}

.menu {
    min-height: 375px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.menu-block-icon {
    fill: #555;
}

.menu-block-headline {
    display: block;
    color: #555555;
    font-size: 22px;
    font-weight: 400;
    font-family: 'raleway-semibold', 'Arial', sans-serif;
}


.menu-block-text {
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.menu-block-underline {
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}


.menu-block:hover .menu-block-underline {
    background-color: #c7b299;
}

.menu-block:hover .menu-block-icon {
    fill: #c7b299;
}

.menu-block:hover .menu-block-headline {
    color: #c7b299;
}

.opportunities {
    background-image: url(../img/waxom-opportunities-bg.jpg);
    background-position: center;
}

.wordpress-theme {
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wordpress-theme-headline {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    font-family: 'raleway', 'Arial', sans-serif;
}

.waxom-word {
    color: #c7b299;
}

.wordpress-theme-text {
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    display: block;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.wordpress-theme-textblock {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



.button-wordpress {
    margin-top: 50px;
}

.latest-projects {
    min-height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.latest-projects-headline {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin-top: 80px;
    font-family: 'raleway-semibold', 'Arial', sans-serif;
}

.latest-projects-text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 750px;
    text-align: center;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.latest-projects-menu-a {
    list-style: none;
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #8c8c8c;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.latest-projects-menu {
    display: flex;
    flex-wrap: wrap;
}

.latest-projects-menu-a:first-child {
    margin-left: 0px;
}

.latest-projects-menu-a:hover {
    background-color: #998675;
    color: #ffffff;
}



.latest-projects-mainblock {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
}

.latest-projects-mainblock-block {
    width: 370px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    position: relative;
}

.latest-projects-mainblock-block-headline {
    color: #c7b299;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 28px;
    position: relative;
    font-family: 'raleway', 'Arial', sans-serif;
}

.latest-projects-mainblock-block-text {
    margin-bottom: 27px;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 28px;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.latest-projects-mainblock-block:nth-child(1) {
    margin-left: 0px;
    margin-bottom: 30px;
}

.latest-projects-mainblock-block:nth-child(4) {
    margin-left: 0px;
}

.latest-projects-mainblock-block:nth-child(2) {
    margin-bottom: 30px;
}

.latest-projects-mainblock-block:nth-child(3) {
    margin-bottom: 30px;
}

.latest-projects-button {
    margin-bottom: 80px;
}

.latest-projects-mainblock-block-headline:before {
    content: "";
    border: 13px solid transparent;
    border-bottom: 13px solid white;
    position: absolute;
    bottom: 53px;
    left: -10px;
}

.latest-projects-mainblock-block:hover {
    background-color: #362f2d;
}

.latest-projects-mainblock-block:hover .latest-projects-mainblock-block-headline:before {
    border-bottom-color: #362f2d;
}


.latest-projects-mainblock-block:hover .latest-project-mainblock-img {
    filter: brightness(30%);
}


.nav-a-search {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-search.svg);
}

.menu-block-icon-dev {
    width: 44px;
    height: 40px;
}

.menu-block-icon-pencil {
    width: 49px;
    height 49px;
}

.menu-block-icon-customization {
    width: 44px;
    height: 44px;
}

.menu-block-icon-marketing {
    width: 52px;
    height: 36px;
}


.latest-project-mainblock-img {}



.video {
    background-image: url(../img/video.jpg);
    min-height: 705px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-devices-img {
    background-image: url(../img/mobile-devices.jpg);
    height: 616px;
    width: 423px;
    margin-top: 80px;
}

.mobile-devices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mobile-devices-textblock-headline {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'raleway-semibold', 'Arial', sans-serif;
}

.mobile-devices-textblock-text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 657px;
    margin-bottom: 45px;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.mobile-devices-textblock {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.mobile-devices-textblock-benefits-li {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
    position: relative;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.mobile-devices-textblock-benefits {
    margin-left: 70px;
}

.mobile-devices-textblock-benefits-li:before {
    content: "";
    font-size: 15px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c7b299;
    color: white;
    position: absolute;
    left: -29px;
    top: 5px;
}

.stats-block-icon {
    fill: #c7b299;
}

.stats-block-icon-clients {
    width: 44px;
    height: 44px;
}

.stats-block-count {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    font-family: 'montserrat-extralight', 'Arial', sans-serif;
}

.stats {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    align-items: center;
    justify-content: center;
}

.stats-block {
    width: 132px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
}

.stats-block-text {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.stats-block-underline {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}

.stats-block:first-child {
    margin-left: 0px;
}

.recent-posts-headline {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin-top: 80px;
    font-family: 'raleway-semibold', 'Arial', sans-serif;
}

.recent-posts-text {
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    max-width: 760px;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 755px;
}

.recent-posts-article-img {
    width: 370px;
    height: 220px;
}

.recent-posts-aticle-headline {
    color: #555555;
    font-family: 'raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

.recent-posts-aticle-text {
    color: #8c8c8c;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left: 30px;
}

.recent-posts-aticle-a {
    color: #c7b299;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 35px;
    margin-left: 30px;
    position: relative;
}

.recent-posts-aticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 395px;
    margin-left: 30px;
    position: relative;
}

.recent-posts-mainblock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-posts-aticle:first-child {
    margin-left: 0px;
}

.recent-posts-pagination-button-left {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-color: #d1d1d1;
    position: relative;
}

.recent-posts-pagination-button-right {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-color: #d1d1d1;
    position: relative;
}

.fa-chevron-right {
    font-size: 12px;
    color: #d1d1d1;
    position: absolute;
    top: 4px;
    right: 6px;
    margin-left: 8px;

}

.fa-chevron-left {
    position: absolute;
    color: #d1d1d1;
    font-size: 12px;
    top: 4px;
    left: 6px;
}

.recent-posts-pagination-button-left:hover {
    border-color: #c7b299;
}

.recent-posts-pagination-button-left:hover .fa-chevron-left {
    color: #c7b299;
}

.recent-posts-pagination-button-right:hover {
    border-color: #c7b299;
}

.recent-posts-pagination-button-right:hover .fa-chevron-right {
    color: #c7b299;
}



.fa-chevron-right-mobile-dev {
    color: white;
    position: absolute;
    left: -30px;
    top: 9px;
}



.logo:hover {
    background-image: url(../img/logo-hover.svg);
}

.fa-caret-right {
    position: absolute;
    left: 85px;
    top: 4.3px;
}

.recent-posts-aticle-a:hover {
    text-decoration: underline;
}

.recent-posts-mainblock-dateblock {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.recent-posts-mainblock-dateblock-day {
    color: #ffffff;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 9px;
}

.recent-posts-mainblock-dateblock-month {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    background-color: #252525;
    width: 100%;
    height: 25px;
    border-radius: 0 0 3px 3px;
    text-align: center;
    padding-top: 2.5px;
    box-sizing: border-box;
    font-family: 'roboto', 'Arial', sans-serif;
}

.recent-posts-aticle:hover img {
    filter: brightness(30%);
}

.recent-posts-aticle:hover {
    background-color: #362f2d;
}

.recent-posts-aticle:hover .recent-posts-aticle-headline {
    color: #c7b299;
}

.recent-posts-aticle:hover .recent-posts-aticle-text {
    color: #ffffff;
}

.recent-posts-aticle:hover .recent-posts-mainblock-dateblock {
    background-color: #c7b299;
}

.recent-posts-aticle:hover .recent-posts-mainblock-dateblock .recent-posts-mainblock-dateblock-month {
    background-color: #a48d72;
}

.latest-projects-mainblock-block-link {
    position: absolute;
    top: 30%;
    left: 35%;

}

.fa-link {
    color: #c7b299;
    font-size: 26px;
    position: absolute;
    top: 33%;
    left: 40%;
    color: transparent;
}

.fa-search {
    background-color: #ffffff;
    font-size: 26px;
    background-color: transparent;
    color: #ffffff;
}

.latest-projects-mainblock-block-link-search {
    position: absolute;
    left: 35%;
    top: 30%;
}



.latest-projects-mainblock-block-search {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 33%;
    right: 40%;
    display: none;

}


.latest-projects-mainblock-block:hover .fa-link {
    color: #c7b299;
}

.latest-projects-mainblock-block:hover .latest-projects-mainblock-block-search {
    display: block;
}

.sponsors {
    min-height: 489px;
    background-image: url(../img/footer-sposors-bg.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}


.footer-sponsors-img {
    margin-left: 90px;
}

.footer-sponsors-img:first-child {
    margin-left: 0px;
}

.video-play-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 45px;
}

.video-play-button-svg {
    fill: #ffffff;
}

.video-play-button:hover .video-play-button-svg {
    fill: #c7b299;
}

.video-play-button:active .video-play-button-svg {
    fill: #b0b0b0;
}

.video-headline {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'raleway', 'Arial', sans-serif;
}

.video-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 552px;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.video-time {
    color: #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'montserrat', 'Arial', sans-serif;
}

.menu-block:first-child {
    margin-left: 0px;
}

.main-footer {
    min-height: 510px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}



.logo-footer:hover img {}

.main-footer-block {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 80px;
}

.main-footer-block-text {
    color: #555555;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 33px;
}

.main-footer-block-a {
    color: #d1d1d1;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

.fa-caret-right-footer {
    position: absolute
}

.main-footer-block-a:hover {
    text-decoration: underline;
}

.main-footer-block-headline {
    color: #ffffff;
    font-family: 'raleway', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;

}

.main-footer-block-date {
    color: #363636;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.footer-underline {
    width: 270px;
    height: 1.5px;
    background-color: #252525;
}

.main-footer-block-article {
    display: flex;
    flex-direction: column;
}

.main-footer-block-text-article {
    margin-top: 10px;
    margin-bottom: 21px;
}

.main-footer-block-article:hover .main-footer-block-date {
    color: #ffffff;
}

.main-footer-block-article:hover .main-footer-block-text {
    color: #c7b299;
}

.main-footer-block-count {
    color: #363636;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 23px;
}

.main-footer-block-text-article-twitter {
    margin-bottom: 11px;
    margin-top: 0px;
}

.twitter-a {
    color: #00bff3;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.twitter-a:hover {
    text-decoration: underline;
}

.twitter-a-site {
    color: #959595;
}

.twitter-a-site:hover {
    text-decoration: underline;
}



.main-footer-block:first-child {
    margin-left: 0px;
}

.lower-footer {
    min-height: 111px;
    background-color: #111111;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}





.lower-footer-a {
    color: #555555;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 15px;
    border-right: 1px solid #252525;
    padding-right: 15px;
}

.lower-footer-a:hover {
    color: #c7b299;
}

.lower-footer-a:last-child {
    border-right: none;
}

.grey {
    color: #555555;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 7px;
}

.white {
    color: #959595;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    border-right: 1px solid #252525;
    padding-right: 15px;
}

.white:last-child {
    border-right: none;
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .padding-site {
        padding-left: 0px;
        padding-right: 0px;
    }

    input[type="checkbox"]:checked ~ .header-nav {
        visibility: visible;
    }
    
    
    .header-nav-label {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../img/mobilemenu.png);
        background-size: 100%;
        margin-right: 50px;
        position: relative;
    }
    
    .slider-main {
        display: none;
    }

    .header-slider {
        min-height: 140px;
        max-height: 140px;
    }

    .header-nav {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        top: 140px;
        width: 100%;
        background-color: #ba7e0d;
        
    }
    
    .nav-a {
        margin: 0 auto;
        margin-bottom: 22px;
        margin-top: 22px;
        font-size: 50px;
    }
    
    .nav-a:hover {
        color: black;
    }
    
    .nav-a-cart {
        width: 45px;
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .nav-a-search {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .logo-header {
        margin-left: 35px;
    }

    .nav-logo {
        padding: 0px;
        margin-top: 40px;
    }

    .slider-pagination {
        display: none;
    }

    .menu-block {
        margin-left: 0px;
    }

    .opportunities {
        margin-top: 30px;
        width: 100%;
        height: 515px;
        background-size: cover;
    }

    .wordpress-theme {
        flex-direction: column;
        align-items: center;
    }

    .button-wordpress {
        margin-bottom: 30px;
    }

    .latest-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .latest-projects-menu {
        flex-direction: column;
    }

    .latest-projects-menu-a {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .latest-projects-mainblock {
        flex-direction: column;
    }

    .latest-projects-mainblock-block {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .latest-projects-mainblock-block:nth-child(1) {
        margin-bottom: 10px;
    }

    .latest-projects-mainblock-block:nth-child(2) {
        margin-bottom: 10px;
    }

    .latest-projects-mainblock-block:nth-child(3) {
        margin-bottom: 10px;
    }

    .mobile-devices-textblock-headline {
        margin-top: 20px;
    }

    .mobile-devices-textblock-benefits {
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .stats {
        padding: 30px 10px 30px 10px;
    }

    .stats-block {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .stats-block:first-child {
        margin-left: 10px;
    }

    .recent-posts-mainblock {
        flex-direction: column;
    }

    .recent-posts-aticle {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .recent-posts-text {
        margin-bottom: 30px;
    }

    .recent-posts-pagination {
        display: none;
    }

    .sponsors {
        width: 100%;
        justify-content: space-around;
    }

    .footer-sponsors-img {
        margin-left: 0px;
    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .main-footer-block {
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .lower-footer {
        justify-content: center;
    }

}
